.body{
    background-image: url(./sahara\ desert.jpg);
    height: 100%;
}
.head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}
.logo{
       margin-left: 100px;
       margin-top: 30px;
}
.a{
    margin-left: 700px;
    margin-top: 30px;
}
.a11{
    color: white;
    text-decoration: none;
}
.a2{
    margin-left: 50px;
    margin-top: 30px;
}
.a3{
    margin-left: 50px;
    margin-top: 30px;
}
.line{
    margin-left: 50px;
    margin-top:25px ;
}

.flex1{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 700px;
 
}
.head1{
    font-size: 50px;
    left: 100px;
    position: absolute;
    top: 300px;
    color: white;

}
.description{
    position: absolute;
    left: 110px;
    top: 490px;
    color: white;
    line-height: 30px;
}
.button{
    text-align: center;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    position: absolute;
    top: 630px;
    left: 120px;
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 700px;
    justify-content: space-evenly;
    
}
.box{
    width: 230px;
    height: 250px;
    border-radius: 20px;
    margin-top: 20px;
}

.box:hover{
    
    transform: translatey(-15px);
}

.img1{
    width: 230px;
    height: 250px;
    border-radius: 20px;
}

.img2{
    width: 230px;
    height: 250px;
    border-radius: 20px;
}

.img3{
    width: 230px;
    height: 250px;
    border-radius: 20px;
}

.img4{
    width: 230px;
    height: 250px;
    border-radius: 20px;
}
.h1{
    position: absolute;
    padding-left: 20px;
    color: white;
}
.box1{
    line-height: 25px;
}

@media only screen and (min-width:230px) and (max-width:450px) {
    .head{
        width: 450px;
        height: 52px;
    }
    .logo{
        margin-left: 30px;
        margin-top: 30px;
 }
 .a{
    margin-left: 60px;
    margin-top: 30px;
}

.a2{
    margin-left: 30px;
    margin-top: 30px;
}
.a3{
    margin-left: 30px;
    margin-top: 30px;
}
.line{
    margin-left: 30px;
}
.flex1{
   
    width: 450px;
    height: 100px;
 
}
.head1{
    font-size: 15px;
    top: 80px;
    left: 40px;
}
.description{
    left: 40px;
    top: 130px;
    line-height: 20px;
}
.button{
    top: 250px;
    left: 100px;
}
.flex2{    
    height: 1000px;
    position: relative;
    width: 500px;
    left: 50px;
    justify-content:space-around;
    
}
.box{
    width: 480px;
    height: 220px;
    margin-top: 50px;
    position: relative;
}
.img1{
    width: 300px;
    height: 220px;
    
}
.img2{
    width: 300px;
    height: 220px;
    margin-top: 0px;
}

.img3{
    width: 300px;
    height: 220px;
}

.img4{
    width: 300px;
    height: 220px;
}
 
}

@media only screen and (min-width:450px) and (max-width:856px) {
    .head{
        width: 856px;
        height: 52px;
    }

    .logo{
        margin-left: 80px;
        margin-top: 30px;
 }
 
.a{
    margin-left: 300px;
    margin-top: 30px;
}

.a2{
    margin-left: 30px;
    margin-top: 30px;
}
.a3{
    margin-left: 50px;
    margin-top: 30px;
}

.flex1{
   
    width: 856px;
    height: 100px;
 
}
.head1{
    font-size: 15px;
    top: 80px;
}
.description{
    left: 110px;
    top: 130px;
    line-height: 20px;
}
.button{
    top: 250px;
    left: 120px;
}
.flex2{    
    height: 1000px;
    position: relative;
    width: 500px;
    left: 160px;
    justify-content:space-around;
    
}
.box{
    width: 480px;
    height: 220px;
    margin-top: 10px;
    position: relative;
}
.img1{
    width: 480px;
    height: 220px;
    
}
.img2{
    width: 480px;
    height: 220px;
    margin-top: 0px;
}

.img3{
    width: 480px;
    height: 220px;
}

.img4{
    width: 480px;
    height: 220px;
}
}
